@font-face {
  font-family: "Cambria";
  src: url("./fonts/cambria/cambria.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Cambria", serif;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Cambria", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}
